// Commercial Calendar Styles

.o_calendar_renderer .fc-event {
    // Commercial event base style - thicker left border
    &.o_commercial_event {
        border-left-width: 4px !important;
    }

    // Done: reduced opacity + italic
    &.o_commercial_status_done {
        &:not(.o_event_dot) {
            opacity: 0.55;
        }
        .fc-event-main {
            font-style: italic;
        }
    }

    // Overdue: danger border
    &.o_commercial_status_overdue {
        &:not(.o_event_dot) {
            border-left-color: var(--bs-danger) !important;
        }
    }

    // Today: warning border
    &.o_commercial_status_today {
        &:not(.o_event_dot) {
            border-left-color: var(--bs-warning) !important;
        }
    }

    // Planned: info border
    &.o_commercial_status_planned {
        &:not(.o_event_dot) {
            border-left-color: var(--bs-info) !important;
        }
    }
}

// Commercial status icons
.o_commercial_icon {
    font-size: 0.85em;
}

.o_commercial_icon_feedback {
    font-size: 0.75em;
    opacity: 0.7;
}

// Overdue pulsing animation
.o_commercial_status_overdue .fa-exclamation-triangle {
    animation: commercial-pulse 2s infinite;
}

@keyframes commercial-pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.4; }
}
